@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --tertiary-color: #FFEED3;
  --primary-color: #4CC082;
  --light-primary-color: #E2F3F0;
  --light-secondary-color: #FFE9E5;
  --light-blue-primary: #E0E5EB;
  --light-gray-secondary: #31333A;
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--white);
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


